<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head_category"></head><!--/head-->
<body>

<!-- Menu -->

<div th:replace="fragments/menu :: menu"></div>

<div class="super_container">

	<!-- Header -->

	<header th:replace="fragments/header :: header"></header>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">Category Page</div>
<!--					<div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">-->
<!--						<ul class="d-flex flex-row align-items-start justify-content-start text-center">-->
<!--							<li><a href="#">Home</a></li>-->
<!--							<li><a href="category.html">Woman</a></li>-->
<!--							<li>New Products</li>-->
<!--						</ul>-->
					</div>
				</div>
			</div>
		</div>

		<!-- Products -->

		<div class="products">
			<div class="container">
				<div class="row products_bar_row">
					<div class="col">
						<div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
							<div class="products_bar_links">
<!--								<ul  class="d-flex flex-row align-items-start justify-content-start">-->
<!--									<li th:each="cat : ${categories}"><a th:href="@{categories/{catId}(catId=${cat.getId()})}" th:text="${cat.getName()}"></a></li>-->
<!--&lt;!&ndash;									<li><a href="#">All</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									<li><a href="#">Hot Products</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									<li class="active"><a href="#">New Products</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;									<li><a href="#">Sale Products</a></li>&ndash;&gt;-->
<!--								</ul>-->
								<select class="form-control form-control-sm">
									<option th:each="cat : ${categories}" th:text="${cat.getName()}" th:value="${cat.getId()}"></option>
								</select>
							</div>
							<div class="products_bar_side d-flex flex-row align-items-center justify-content-start ml-lg-auto">
								<div class="products_dropdown product_dropdown_sorting">
									<div class="isotope_sorting_text"><span>Default Sorting</span><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									<ul>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'>Default</li>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>Price</li>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>Name</li>
									</ul>
								</div>
								<div class="product_view d-flex flex-row align-items-center justify-content-start">
									<div class="view_item active"><img th:src="@{/images/view_1.png}" alt=""></div>
									<div class="view_item"><img th:src="@{/images/view_2.png}" alt=""></div>
									<div class="view_item"><img th:src="@{/images/view_3.png}" alt=""></div>
								</div>
								<div class="products_dropdown text-right product_dropdown_filter">
									<div class="isotope_filter_text"><span>Filter</span><i class="fa fa-caret-down" aria-hidden="true"></i></div>
									<ul>
										<li class="item_filter_btn" data-filter="*">All</li>
										<li class="item_filter_btn" data-filter=".hot">Hot</li>
										<li class="item_filter_btn" data-filter=".new">New</li>
										<li class="item_filter_btn" data-filter=".sale">Sale</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row products_row products_container grid">
					<!-- Product -->
					<div th:each="prod : ${products}" class="col-xl-4 col-md-6 grid-item new">
						<div th:replace="fragments/product_item :: product_item(${prod})">
					</div>
				</div>
<!--				<div class="row page_nav_row">-->
<!--					<div class="col">-->
<!--						<div class="page_nav">-->
<!--							<ul class="d-flex flex-row align-items-start justify-content-center">-->
<!--								<li class="active"><a href="#">01</a></li>-->
<!--								<li><a href="#">02</a></li>-->
<!--								<li><a href="#">03</a></li>-->
<!--								<li><a href="#">04</a></li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</div>

		<!-- Footer -->

			<footer th:replace="fragments/footer :: footer"></footer>
	</div>
		
</div>

<th:block th:replace="fragments/scripts :: main_scripts/script">
</body>
</html>